:root {
 --primary-text-color: #757575;
 --title-text-color: #212121;
 --accent-color: #2196F3; 
}

body {
    background-color: #fff;
    color: #757575;
    font-family: roboto, sans-serif;   
}

/* Скрытые заголовки h1, h2 */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

ul {
    list-style: none;
}

/* Цвет основного текста #757575 */

p {
    color: #757575;
    font-style: normal;
}

/* Вторичный цвет #212121 */

h2,
h3 {
    color: #212121;
}

span {
    color: #fff;
}

/* Белый #FFFFFF */

.section-titles {
    color: #fff;
}

/* Цвета секций #E5E5E5 */

.section-description,
.section-pictures,
.section-portfolio {
    color: #E5E5E5;
}

/* Акцент голубой #2196F3 */

/* Site nav */

.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: greenyellow;
}

/* Цвет секции и подвала */

.section,
.footer {
    background-color: #2F303A;
}

.team {
    background-color: #F5F4FA;
}

/* Лого */

.logo {
    font-family: raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
}

.logo:hover,
.logo:focus {
    color: #2196F3;
}

/* home button */

.button {
    color: #fff;
    background-color: #2196F3;
    font-style: normal;
    font-weight: 136px;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;

}

/* button-list */

.button-list {
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button-list:hover {
    background: #2196F3;
    color: #fff;
}

/* Address-list */

.site-nav .list {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .list:hover,
.site-nav .list:focus {
    color: #2196F3;
}

.title {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.title:hover,
.title:focus {
    color: #2196F3;
}

        


